@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
:root {
  --bg: #0f1116;
}

body {
  background: var(--bg);
  color: white;
  font-family: Inter, sans-serif;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.24s ease-out;
}
