@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
:root {
  --bg: #0f1116;
}

body {
  background: var(--bg);
  color: white;
  font-family: Inter, sans-serif;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.24s ease-out;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000; /* full black */
  color-scheme: dark; /* helps inputs, scrollbars, etc. match */
}